body {
  background-color: black;
}

h1,
p {
  color: white;
}
.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

div {
  margin-top: 50px;
  margin-left: 25%;
  width: 50%;
  text-align: center;
}

img {
  height: 400px;
  width: 100%;
  border-style: solid;
  border-color: white;
  border: 5px 5px;
}
